body{
    background-image: url("https://www.loliapi.com/acg/?v=1");
              background-size: cover;
              background-attachment: fixed; /* This prevents the background from scrolling */
              height: 100%; /* Ensure full viewport height */
              background-position: center; /* Adjust the position to center bottom */
              position: relative;
  
            }
            